<div class="page_header">
  <h1>Sign In</h1>
</div>

<%= form_tag session_path do %>
  <%= label_tag "username" %>
  <%= text_field_tag "name", nil, :class => "span4" %>
  <%= label_tag "password" %>
  <%= password_field_tag "password", nil, :class => "span4" %>

  <div class="sign-in">
    <%= button_tag "Sign In", :class => "btn btn-primary" %>
    <%= link_to "Forgot password?", reset_password_path %>
  </div>

<% end %>
