<% if @user == current_user %>
  <div class="page_header">
    <h1><span>Edit Your Account</span></h1>
  </div>
  <%= simple_form_for @user do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.submit "Edit", :class => "btn btn-primary" %>
    <%= button_to "Delete Account", user_path(@user),
      :method => :delete,
      :data => { :confirm => "Are you sure you want to delete your account?" },
      :class => "btn btn-danger" %>
  <% end %>
<% else %>
  You can't edit someone else's account lol!
<% end %>
