<%= @user.name %>
<%= @user.email %>
<% if current_user == @user %>
  <%= link_to "Edit Info", edit_user_path(@user) %>
  <%= link_to "Delete Account", user_path(@user), :method => :delete, :confirm => "Are you sure you want to delete your account?" %>
<% end %>
<p>
  <h2>Best Times by Trail</h2>
    <% @user.best_times.each do |t| %>
      <%= t.trail.name %>:
      <%= Time.at(t.min.to_i).utc.strftime("%H:%M:%S") %>
      <% if t.min.to_i == t.trail.best_timing.seconds %>
        <span style="color:red">Best Overall!</span>
      <% end %>
      <br />
    <% end %>
</p>
