<div class="page_header">
  <h1><%= @user.name %></h1>
</div>
<div class="row">
  <div class="span4">
    <h2>Best Times by Trail</h2>
    <% @user.best_times.each do |t| %>
      <%= link_to t.trail.name, t.trail %>:
      <%= Time.at(t.min.to_i).utc.strftime("%H:%M:%S") %>
      <% if t.min.to_i == t.trail.leaderboard.first.seconds %>
        <span style="color:red">Best Overall!</span>
      <% end %>
      <br />
    <% end %>
  </div>
  <div class="span4 offset1">
    <h2>Recent Times</h2>
    <% @user.recent_times.each do |t| %>
      <%= link_to t.trail.name, t.trail %>:
      <%= Time.at(t.seconds).utc.strftime("%H:%M:%S") %>
      on <%= t.created_at.strftime("%D") %>
      <br />
    <% end %>
  </div>
</div>
