<div class="page_header">
  <h1><%= @user.name %></h1>
</div>
<div class="stats">
  email: <%= @user.email %>
</div>
<div class="row">
  <div class="span4">
    <h4>Best Times by Trail</h4>
    <% @user.best_times.each do |t| %>
      <%= link_to t.trail.name, t.trail %>:
      <%= Time.at(t.min.to_i).utc.strftime("%H:%M:%S") %>
      <% if t.min.to_i == t.trail.best_timing.seconds %>
        <span style="color:red">Best Overall!</span>
      <% end %>
      <br />
    <% end %>
  </div>
  <div class="span4 offset1">
    <h4>Recent Times</h4>
    <% @user.recent_times.each do |t| %>
      <%= link_to t.trail.name, t.trail %>:
      <%= Time.at(t.seconds).utc.strftime("%H:%M:%S") %>
      on <%= t.created_at.strftime("%d %b. %Y") %>
      <br />
    <% end %>
</div>
