<div class="page_header">
  <h2><%= @trail.name %></h2>
</div>
<div class="stats">
  length: <%= @trail.length %><br />
  difficulty: <%= @trail.difficulty %>
</div>
<% if @trail.timings.any? %>
  <p>
  Best Time: <%= link_to @trail.best_time_user.name, @trail.best_time_user %> in
  <%= Time.at(@trail.best_timing.seconds).utc.strftime("%H:%M:%S") %>
  </p>
<% end %>

<%= @trail.info %>
