<div class="page_header">
  <h2><%= @trail.name %></h2>
</div>
<div class="stats">
  length: <%= @trail.length %><br />
  difficulty: <%= @trail.difficulty %>
</div>
<% if @trail.timings.any? %>
  <p>
  Best Time: <%= link_to @trail.best_time_user.name, "/user/#{@trail.best_time_user.name}" %> in
  <%= Time.at(@trail.best_timing.seconds).utc.strftime("%H:%M:%S") %>
  </p>
<% end %>

<p>
  <%= @trail.info %>
</p>

<% if logged_in? %>
  <h3>Add a Comment</h3>
  <%= render "comments/form" %>
<% else %>
  <h3>You must <%= link_to "login", login_path %> to comment</h3>
<% end %>


<h3>Comments</h3>
<% if @comments.any? %>
  <%= render "comments/comment", :object => @comments.newest_first %>
<% else %>
  <span style="color:grey">No Comments Yet!</span>
<% end %>
