<!DOCTYPE html>
<html>
<head>
  <title>UwharrieOffroad</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <%= render "layouts/navigation" %>
      </div>
    </nav>
  </header>

  <div id="main" role="main">
    <div class="container">
      <div class="content">
         <div class="row">
          <div class="span12">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
        <div class="footer">
        This is <strong>Not</strong> an official site of the US Government, USDA, or National Forests. It is an open-source project, the code is
        <%= link_to "here", "https://github.com/SSundseth/uwharrie-offroad" %>, please feel free to contribute.
        </div>
      </div>
    </div>
  </div>

</body>
</html>
